<div class="container">
  <h4> {{title}}</h4>
  <div class="row">
    <div class="col-sm-4">
      <input class="form-control" type="button" value="Reset" (click)="onReset()">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <div> First Name: <input class="form-control" type="text" [(ngModel)]="_model.firstName" name="firstName"></div>
      </div>
      <div class="form-group">
        <div> Last Name: <input class="form-control" type="text" [(ngModel)]="_model.lastName" name="lastName"></div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="form-group" *ngIf="message">
        <pre> {{message}}</pre>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <pre *ngIf="_model.firstName || _model.lastName"> Hello My Name is {{_model.firstName}} {{_model.lastName}}</pre>
    </div>
  </div>
</div>
