<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!!
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="well">
        <div>
          <ul class="nav nav-list">
            <li><label class="nav-header">Demos</label>
              <ul class="nav nav-list tree">
                <li> <a routerLink="/whatIsChangeDetection">What Is Change Detection Demo</a></li>
                <li> <a routerLink="/whatCauseChange">What Cause Change Demo</a></li>
                <li> <a routerLink="/flashNews">Tabs Flash News</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
